html{font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    
 }

 header, body .containerhero {margin: 30px 20px 20px 30px;}
 .containerhero{display: flex;
    width:100%;
    
}
.containerherotext{ margin: 20px 0;
    width: 274px;

}
.containerherotext h1{
    line-height:0.98em;
    font-weight: 900;
    font-size: 48px;
    margin-top: 0.5em;}
 .containerherotext h3{
     text-transform: uppercase;
     color:#FF3998;
     font-size: 16px;
     margin-top:45px;
     letter-spacing: 2px;
 }
 .containerherotext p{
    color: #555555;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;  
    line-height: 1.6; 
     }
 .graphic img{
position: absolute;
width: 400.69px;
height:400px;
left: 220px;
top:40px; 
}
 button {
     border:3px solid orangered;
     border-radius: 45px;
     width: 188px;
     height: 75px;
     font-family: inter;
     font-weight: 700;   
 }
 .containerupsell{
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 428px;
    height: 300px;   
    background-size: cover;
    display: flex;
    align-items: center;
 }
 .upselltext, .containershowcase{
     margin-left:30px;
     }
.upselltext h2{
    font-size: 40px;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
    
    
   

}
.upselltext p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 0;
    padding-top: 0;
    
}
ul{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.showcasetext h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;

}
.showcasetext p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    color: #555555;
    text-align: left;

}
span{
    text-decoration: underline;
}
.flexshowcaseout{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flexshowcaseinner{
    width:290px ;
    display: flex;
    align-content: center;
    justify-content: space-around;
      
}
.showcaseicons{
    margin-right:40px; }
}
.flexshowcaseinner h3{
   font-weight: 600;
   font-size: 20px;
 
}
.box{display: flex;
    align-items: center;
}

.flexshowcaseinner .orange{
    color: #fe843f;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
}
.flexshowcaseinner h4{
    text-align: right;
    color: #555555;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}
.flexshowcaseinner p{
    color: #a8a8a8;
    font-weight: 400;
    font-size: 18px;
}
.flexshowcaseinner .nomarginp{
    color: #a8a8a8;
    font-weight: 400;
    font-size: 18px;
    margin:0;
    padding-left: 20px;
    

}

.bigger{
    width: 290px;
}
.showcaseicons{
    margin-top: 20px;
    border-radius: 15px;
    width: 290px;
    background-color:#eeeeee;
    
} 