nav{
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-left: 1rem;
    color:#131D26;
    border-bottom: #6C7981 solid 2px;
    width: 15%;
}w